### 표본추출 / 샘플링
- 전체 데이터에서 일부 데이터를 추출
- pd.DataFrame.sample
- 복원추출  : 추출된 데이터를 다시 추가하여 추출
- 비복원추출: 추출된 데이터 제거 후 남은 데이터에서 추출

In [1]:
import pandas as pd

In [3]:
# 임시 데이터 생성
dataDF= pd.DataFrame({'kor': [10, 20, 30],
                    'math': [11, 22, 33],
                     'eng': [111,222,333]})

dataDF

   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [6]:
#1개의 샘플 / 표본데이터 추출: 기본 비복원 - 전체 데이터 수 초과 불가
# 추출의 기준이 되는 축을 axis로 설정

for cnt in range(1,6):
    print(f'\n{cnt}회')
    print(dataDF.sample(n = 3, axis = 'columns'))

1회
   math  eng  kor
0    11  111   10
1    22  222   20
2    33  333   30

2회
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

3회
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

4회
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

5회
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [7]:
#1개의 샘플 / 표본데이터 추출: 복원 - replace 매개변수 True 설정
# 추출의 기준이 되는 축을 axis로 설정

for cnt in range(1,6):
    print(f'\n{cnt}회')
    print(dataDF.sample(n = 3, axis = 'columns', replace = True))

1회
   eng  eng  math
0  111  111    11
1  222  222    22
2  333  333    33

2회
   kor  kor  kor
0   10   10   10
1   20   20   20
2   30   30   30

3회
   math  math  math
0    11    11    11
1    22    22    22
2    33    33    33

4회
   kor  math  kor
0   10    11   10
1   20    22   20
2   30    33   30

5회
   eng  kor  eng
0  111   10  111
1  222   20  222
2  333   30  333

In [ ]:
#데이터섞기